## File Preparations

In [15]:
# Dependencies
import pandas as pd
import csv

In [16]:
# Read in CSV
csvpath = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(csvpath)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Functions

In [17]:
# Builds out gender dictionaries
def buildDictionary(dc,df): # By Gender (not overall counts):
        # For "Gender Demographics"
    dc["Total Count"] = len(df["SN"].unique()) # Count of players
    dc["Percent of Players"] = "{:.2%}".format(dc["Total Count"]/player_count) # Percentage of total players
        
        # For "Purchasing Analysis - Gender"
    dc["Transactions"] = df["Price"].count() # Count of total transactions
    dc["Total Purchase Amount"] = df["Price"].sum() # Total Purchase Value
    dc["Average Purchase Amount"] = "${:,.2f}".format(df["Price"].mean()) # Average Purchase Price
    dc["Average Purchase Amount Per Person"] = "${:,.2f}".format(dc["Total Purchase Amount"]/dc["Total Count"]) # Average Purchase Total per Person
    dc["Total Purchase Amount"] = "${:,.2f}".format(dc["Total Purchase Amount"]) # format after making necessary calculations

## General Numbers

#### Purchasing Analysis - Overall

In [18]:
# Total player count
player_count = len(pymoli_df["SN"].unique())
player_count

576

In [19]:
# Initialize Purchasing Analysis Dictionary
purchasing_analysis_overall = {}

In [20]:
# Number of Unique Items
purchasing_analysis_overall["Unique Items Available"] = [len(pymoli_df["Item Name"].unique())]
#### value is bracketed so it will act as index when creating the dataframe

In [21]:
# Average Purchase Price
purchasing_analysis_overall["Average Price"] = "${:,.2f}".format(round(pymoli_df["Price"].mean(),2))

In [22]:
# Total Number of Purchases
purchasing_analysis_overall["Total Purchases"] = pymoli_df["Purchase ID"].count()

In [23]:
# Total Revenue
purchasing_analysis_overall["Total Revenue"] = "${:,.2f}".format(pymoli_df["Price"].sum())

In [24]:
# Configure and output table
purchasing_analysis_overall_df = pd.DataFrame(purchasing_analysis_overall)
purchasing_analysis_overall_df.head()

   Unique Items Available Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

#### Gender Demographics

In [25]:
# Initialize gender dictionaries and individual subset dataframes
male = {}
male_df = pymoli_df.loc[pymoli_df["Gender"] == "Male", :]

female = {}
female_df = pymoli_df.loc[pymoli_df["Gender"] == "Female", :]

other = {}
other_df = pymoli_df.loc[pymoli_df["Gender"] == "Other / Non-Disclosed", :]

In [26]:
# These will act as row index in gender_demographics_df
male[""] = ["Male"]
female[""] = ["Female"]
other[""] = ["Other / Non-Disclosed"]

In [27]:
# Build out dictionaries for each gender
buildDictionary(male, male_df)
buildDictionary(female, female_df)
buildDictionary(other, other_df)

In [28]:
# Post-building-dictionary adjustments: collect the dictionaries and convert/combine them to a useable dataframe
gender_dicts = [male, female, other]
gender_convert_dict_to_df = [pd.DataFrame(dc) for dc in gender_dicts]
gender_df = pd.concat(gender_convert_dict_to_df).set_index("")

In [29]:
# All data was added to the appropriate dictionaries by the buildDictionary() function
# Output table to only show the data applicable to Gender Demographics
gender_df[["Total Count","Percent of Players"]]

                       Total Count Percent of Players

Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

#### Purchasing Analysis - Gender

In [31]:
# All data was added to the appropriate dictionaries by the buildDictionary() function
# Output table to only show the data applicable to Purchasing Analysis - Gender
gender_df[[
    "Transactions", "Total Purchase Amount", "Average Purchase Amount",
    "Average Purchase Amount Per Person"
]]

,Transactions,Total Purchase Amount,Average Purchase Amount,Average Purchase Amount Per Person
,,,,
Male,652,"$1,967.64",$3.02,$4.07
Female,113,$361.94,$3.20,$4.47
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

#### Age Demographics

In [ ]:
# Age Bins
# - Purchase Count
# - Average Purchase Price
# - Total Purchase Value
# - Average Purchase Total per Person

## Superlatives

#### Top Spenders

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# - SN
# - Purchase Count
# - Average Purchase Price
# - Total Purchase Value

#### Most Popular Items

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# - Item ID
# - Item Name
# - Purchase Count
# - Item Price
# - Total Purchase Value

#### Most Profitable Items

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# - Item ID
# - Item Name
# - Purchase Count
# - Item Price
# - Total Purchase Value