## File Preparations

In [42]:
# Dependencies
import pandas as pd
import csv

In [43]:
# Read in CSV
csvpath = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(csvpath)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## General Numbers

In [44]:
# Total player count
player_count = len(pymoli_df["SN"].unique())
player_count

576

#### Purchasing Analysis

In [45]:
# Number of Unique Items
item_count = len(pymoli_df["Item Name"].unique())

In [54]:
# Average Purchase Price
avg_price = "${:,.2f}".format(round(pymoli_df["Price"].mean(),2))

In [47]:
# Total Number of Purchases
num_purchases = pymoli_df["Purchase ID"].count()

In [56]:
# Total Revenue
revenue = "${:,.2f}".format(pymoli_df["Price"].sum())

In [57]:
# Configure and output table
purchasing_analysis_df = pd.DataFrame({
    "Unique Items Available": [item_count],
    "Average Price": avg_price,
    "Total Purchases": num_purchases,
    "Total Revenue": revenue
})
purchasing_analysis_df.head()

   Unique Items Available Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

#### Gender Demographics

In [15]:
# Male, Female, Other/Non-disclosed
# - Percentage
# - Count

#### Purchasing Analysis

In [16]:
# Male, Female, Other/Non-disclosed
# - Purchase Count
# - Average Purchase Price
# - Total Purchase Value
# - Average Purchase Total per Person

#### Age Demographics

In [17]:
# Age Bins
# - Purchase Count
# - Average Purchase Price
# - Total Purchase Value
# - Average Purchase Total per Person

## Superlatives

#### Top Spenders

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# - SN
# - Purchase Count
# - Average Purchase Price
# - Total Purchase Value

#### Most Popular Items

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# - Item ID
# - Item Name
# - Purchase Count
# - Item Price
# - Total Purchase Value

#### Most Profitable Items

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# - Item ID
# - Item Name
# - Purchase Count
# - Item Price
# - Total Purchase Value